/* This main css file contains the default rules and is geared toward the small/phone view */

* {box-sizing: border-box;}
/* This wildcard applies to all elements ensuring a box layout model */

/***************** Body **********************/
body {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    /* Declare the base font-family - from google font api or other */
}

table, table caption {
    box-shadow: 10px 10px 40px #628ca6;

}

table caption {
    border: 1px solid #666666;
    background-color: #7FB9C2;
    font-size: 225%;
    padding: .5em .5em;
}

table th{
    background-color: #628CA6;
    color: white;
    font-size: 150%;
}

table, th, td {
    border: 1px solid #666666;
    border-collapse: collapse;
    text-align: center;
    padding: .5em .5em;
    margin: auto;
}

table tr:nth-child(2), tr:nth-child(4), tr:nth-child(6){
    background-color: #E7FFED;
}

table tr:nth-child(4) td:last-child {
    background-color: #628CA6;
}

table td {
    font-size: 150%;
}

table tfoot td{
    background-color: #7FB9C2;
    font-size: 100%;
}
