@media only screen and (min-width: 64em) {
/* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */

article p.town-article img { width: 29.333%; }

header, nav, main, footer {
max-width: none;/* the comma means apply the following CSS declarations to all of the listed elements */
/* Declare the maximum width and other main element rules to limit the stretch on wide views */
}

/*---------- Header ------------*/
    header h1 {
        /*    display: -webkit-inline-flex;
        display: inline-flex;
        */
        font-size: 250%;
        text-align: center;
    }


    header .subheading {
        font-size: 180%;
        text-align: center;
    }

    header figure.logo img{
        width: 12%;
    }


/*------Main----------------*/
main figure img {
    width: 100%;
    /*height: 200px;*/

}


/*-------------- Section ------------*/
    section img {
        width: 8%;
        margin: 1% 0 0 0;
    }

    section .current {
        margin-left: 0;
        font-size: 125%;
    }

    section .highlow {
        margin: 0 0 0 20%;
        /* text-align: center;*/
    }

    section .conditions {
        float: right;
        margin: 0 20% 0 0;
    }



    main section.forecast {
        display: block;
        max-width: none;
    }
/* show the 10-day forecast with the medium view and up */

    table, th, td {
        border: 1px solid #666666;
        border-collapse: collapse;
        text-align: left;
        padding-bottom: .5em;
        padding-top: .5em;
        padding-left: 1.5em;
        padding-right: 1.5em;
        margin: auto;
    }

}
© 2018 GitHub, Inc.
