@media only screen and (min-width: 64em) {
/* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */

  header, nav, main, footer {
    max-width: none;/* the comma means apply the following CSS declarations to all of the listed elements */
    /* Declare the maximum width and other main element rules to limit the stretch on wide views */
  }

/************ Navigation **********************/
    nav{
      font-size: 100%;
    }

    nav ul li a{
    padding: .6rem 1rem;
  }

/********************* Header **********************/


/***************** Main *****************************/
    body{
        font-size: 120%;
    }

   main h2{
        font-size: 180%;
    }

    main h3{
        font-size: 150%;
    }


/**************** Flower Picture Display *************/
    .flowerPics {
        margin: 0;
        justify-content: space-around;
        align-content: space-around;
    }

    .flowerPics img {
        margin: auto;
        width: 330px;
        height: 95%;
    }
/******************* Contact Us **********************/
    .formInfo{
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: baseline;
    }

    fieldset {
        flex-basis: 50%;
    }


/****************** Sales Page *****************************/
    .navigation > li {
        width: 20%;
        left: -15%;
        padding: 2.5%;
        border-right: 3rem solid #48817D;
        -webkit-transition: left 600ms;
        -moz-transition: left 600ms;
        -ms-transition: left 600ms;
        -o-transition: left 600ms;
        transition: left 600ms;
    }

    li.openSesame {
        left:0px;
    }

    article.detail{
       margin: 0 10% 2% 10%;
    }

    .forSale{
        background-image: url("../images/bike-montana2-flip-large.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

}
