@media only screen and (min-width: 37.5em) {
/* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */

header, nav, main, footer {
    max-width: 64em;/* the comma means apply the following CSS declarations to all of the listed elements */
 }
body{
    font-size: 100%;
}

  /*-------------- Header ----------------*/


  /*********** Navigation ****************/
  nav button { display:none; }  /* hamburger button does not need to be shown */

  nav{
    background: #FFF063; /* Old browsers */
    background: -moz-linear-gradient(top, #FFF063 0%, #D33B6F 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #FFF063 0%,#D33B6F 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #FFF063 0%,#D33B6F 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFF063', endColorstr='#D33B6F',GradientType=0 ); /* IE6-9 */
  }

   /* li{
        border-right: 1px solid rgba(0,0,0,.3);
    }
    */

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        /*get rid of bullets */
       /* padding: .8rem 1rem; /*get rid of padding at the top */
    }


    nav ul.hide{
      display: flex;
      flex-flow: row nowrap;
      align-items: stretch;
      justify-content: flex-start;
    }

    li {
        border-right: 1px solid rgba(0,0,0,.3);
        border-top: none;
    }

    nav ul li a{
      /*  border-collapse: collapse; */
        color: black;
        padding: .8rem;
        text-decoration: none;
    }


    li:last-child{
        border-right: none;
    }


/***************** Main **********************/
    main h2{
        font-size: 150%;
    }

    h3, h4{
        font-size: 120%;
    }

/****************** Main For Home Page ********************/
    .cycleDivide{
        background-image: url("../images/bike-montana2-flip-medium.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .cycleDivide h2{
        font-size: 150%;
        width: 35%;
        margin-top: 1%;
        margin-bottom: 0;
        padding: 0;
    }

    .cycleDivide p, .cycleDivide a{
        width: 35%;
        margin-left: 1%;
    }

    .websiteBody{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: stretch;
    }

    .cycleDivide{
        flex-basis: 100%;
        margin: 0 0 0 0;
    }

    .saleService{
        flex-basis: 32%;
        margin: 2% 1% 2% 0;
    }

    .events{
        flex-basis: 32%;
        margin: 2% 0 2% 1%;
    }

    .tours{
        flex-basis: 32%;
        margin: 2% 1% 2% 1%;
    }

/****************** Sales Page *****************************/
   .navigation > li {
        width: 30%;
        left: -22%;
        border-right: 3rem solid #48817D;
        -webkit-transition: left 1000ms;
        -moz-transition: left 1000ms;
        -ms-transition: left 1000ms;
        -o-transition: left 1000ms;
        transition: left 1000ms;
    }

    li.openSesame {
        left:0px;
    }

    .bikeSell{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: stretch;
    }

    .forSale h3{
        text-align: center;
    }

    .forSale{
        background-image: url("../images/bike-montana2-flip-medium.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    article.detail{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        margin: 0 5% 2% 5%;
    }

    .detail img{
        width: 100%;
    }

    .barghie {
        flex-basis: 50%;
    }

/******************* Adventure Tour Page **************/

    .trailInfo h3{
        font-size: 145%;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .trailInfo ul{
        font-size: 120%;
    }

    .trailInfo .sourdough, .trailInfo .emeraldLake{
        flex-basis: 48%;
    }

    .tourOptions{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: stretch;
    }

    .trailPic{

    }

   /* main .trailPic img{
        width: 100%;
    }

    main .trailPic{
        margin: 0;
        padding: 0;
    } */

    .trailInfo{
        border: 3px groove #653933;
        margin: 1%;
    }

/******************* Event Page **********************/
    .cycleDivideEvent h2{
        font-size: 300%;
    }

    .cycleDivideEvent h3{
       font-size: 200%;
    }

    .cycleDivideEvent{
        background-image: url("../images/eventPage-medium.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }


/******************* Main For Gallery *****************/
    .weatherPics{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 15px;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .weatherPics img{
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }


}
