@media only screen and (min-width: 37.5em) {
/* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */

header, nav, main, footer {
    max-width: 64em;/* the comma means apply the following CSS declarations to all of the listed elements */
 }
body{
    font-size: 100%;
    background-color: #31B3CC;
}

  /*-------------- Header ----------------*/
    .headerItems {
        padding: 1.5em 0;
        margin-bottom: 0;
        text-align: center
            /* display: flex;
            align-items:flex-end; */
    }

    .title h1 {
        padding: 0;
        margin: 0;
        color: black;
        font-family: 'Tangerine', serif;
        text-shadow: 4px 4px 4px #aaa;
        font-size: 650%;
    }

    header .subheading {
        font-family: 'Lato', sans-serif;
        font-size: 225%;
        text-shadow: 0px 0px 0px;
        color: black;
        padding: 0 0;
    }
  /*********** Navigation ****************/
  nav button { display:none; }  /* hamburger button does not need to be shown */

  nav{
    background: #FFF063; /* Old browsers */
    background: -moz-linear-gradient(top, #FFF063 0%, #D33B6F 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #FFF063 0%,#D33B6F 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #FFF063 0%,#D33B6F 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFF063', endColorstr='#D33B6F',GradientType=0 ); /* IE6-9 */
  }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        /*get rid of bullets */
       /* padding: .8rem 1rem; /*get rid of padding at the top */
    }


    nav ul.hide{
      display: flex;
      flex-flow: row nowrap;
      align-items: stretch;
      justify-content: flex-start;
    }

    li {
        border-right: 1px solid rgba(0,0,0,.3);
        border-top: none;
        padding: .5em .2em;
        font-size: 120%;
    }

    nav ul li a{
      /*  border-collapse: collapse; */
        color: black;
        padding: .8rem;
        text-decoration: none;
    }


    li:last-child{
        border-right: none;
    }


/***************** Main **********************/
    main h2{
        font-size: 150%;
    }

    h3, h4{
        font-size: 120%;
    }

/****************** Main For Home Page ********************/
       div.websiteBody1 {
        margin-top: .2em;
    }

    .options {
        display: flex;
        align-items: baseline;
    }

  /*  main div.websiteBody1, div.websiteBody2 {
        display: ;
        flex-direction: row;
        align-content:space-around;
    }*/

    .boutt img, .corsage img, .arrangement img, .wedding img{
        width: 98%;
    }

    .boutt, .corsage, .arrangement, .wedding {
        position: relative;
        text-align: center;
    }

    div.transbox {
        margin: 30px;
        background-color: #ffffff;
        border: 1px solid black;
        opacity: 0.6;
        filter: alpha(opacity=60); /* For IE8 and earlier */
    }

    .thumbnail {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        /*   margin: 30px;  */
        padding: 3%;
        background-color: #ffffff;
        border: 2px solid black;
        opacity: 0.6;
        filter: alpha(opacity=60); /* For IE8 and earlier */
        color: black;
    }

/****************** Flower Picture Pages *****************************/

    .flowerPics {
        margin: 0;
        flex-flow: wrap;
        justify-content: space-around;
        align-content: space-around;
    }

    .flowerPics img {
        margin: auto;
        width: 250px;
        height: 95%;
    }

/******************* Adventure Tour Page **************/

    .trailInfo h3{
        font-size: 145%;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .trailInfo ul{
        font-size: 120%;
    }

    .trailInfo .sourdough, .trailInfo .emeraldLake{
        flex-basis: 48%;
    }

    .tourOptions{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: stretch;
    }

    .trailPic{

    }

   /* main .trailPic img{
        width: 100%;
    }

    main .trailPic{
        margin: 0;
        padding: 0;
    } */

    .trailInfo{
        border: 3px groove #653933;
        margin: 1%;
    }

/******************* Event Page **********************/
    .cycleDivideEvent h2{
        font-size: 300%;
    }

    .cycleDivideEvent h3{
       font-size: 200%;
    }

    .cycleDivideEvent{
        background-image: url("../images/eventPage-medium.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }


/******************* Main For Gallery *****************/
    .weatherPics{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 15px;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .weatherPics img{
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }


}
