/* This main css file contains the default rules and is geared toward the small/phone view */

* {box-sizing: border-box;}
/* This wildcard applies to all elements ensuring a box layout model */

/***************** Body **********************/
body {
    font-family: 'PT Sans', sans-serif;
    font-size: 100%;
    background-color: #B19151;
  /*  padding: 1% 1%;  */
}

header, nav, main, footer {
    max-width:  37.5em;
    font-family: 'PT Sans', sans-serif;

    /* the comma means apply the following CSS declarations to all of the listed elements */
    /* Declare the maximum width and other main element rules to limit the stretch on wide views */
}

/**************** Header **********************/
.headerItems {
    background-color: #33654C;
    padding: .5rem 2%;
    color: black;
    color: white;
    font-family: 'Bree Serif', serif;
    font-family: 'PT Sans', sans-serif;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}


header h1 {
    font-size: 175%;
}


header .subheading {
    font-size: 125%;
    color: black;
}

/***************** Navigation *********************/
nav {
    background-color: #6BB18E;
}

nav button {
 /*   margin: .2rem 2%; */
    margin: 0 0 0 0;
    align-self: flex-start;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: #555555;
}

li{
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: space-around;
    padding: .8rem 2%;
    border-top: 1px solid rgba(0,0,0,.3);
}

nav ul {
    list-style-type: none; /*get rid of bullets */
    padding: 0; /*get rid of padding at the top */
    margin: 0; /*get rid of margin on the side */
}


nav ul li a {
    color: #000000; /*black color */
    text-decoration: none;
  /*border-top: 1px solid rgba(0,0,0,.3); /*lines at the top of each menu block; rgba - 000, darkens lines by .3 or 30% */

}

nav ul li.active a {
    background-color: rgba(0,0,0,.2);
    color: #FFFFFF;
}

nav ul li a:hover {
    color: rgba(0,0,0,.4);
}

nav ul.hide{display: none;}

/****************** Main ***************************/
main h2, h3, h4{
    /*background-color: #346E72; */
    color: black;
    padding: .5em;
    text-align: center;
    font-size: 150%;
    width: 100%;
}

/******************* Main For Gallery *****************/
.weatherPics{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 5px;
}

.weatherPics img{
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}

/****************** Main For Home Page ********************/

.saleService img, .tours img, .events img{
    width: 100%;
}
.cycleDivide h2{
    font-size: 150%;
    width: 43%;
    margin-top: 1%;
    margin-bottom: 0;
    padding: 0 0 0 2%;
}

.cycleDivide p{
    width: 43%;
    margin-left: 2%;
}

.cycleDivide a{
    margin: 0 0 0 2%;
}

.cycleDivide{
    padding: 2% 0 12% 0;
}

.cycleDivide a:link{ color: black}
.cycleDivide a:visited{ color: #653933}
.cycleDivide a:hover{ color: rgba(0,0,0,.4)}
.cycleDivide a:active{ color: #33654C}

.cycleDivide{
    background-image: url("../images/bike-montana2-flip-small.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/****************** Sales Page *****************************/

.navigation {
    position: relative;
    padding: 1%;
    margin: 0;
    text-shadow:0px 0px 2px rgba(0,0,0,0.2);
    list-style: none;
}

.navigation > li {
    position: relative;
    background: rgba(0,0,0,0.2);
    width: 40%;
    height: 10%;
    padding: 3%;
    margin-top: .5%;
    left: -30%;
    border-right: 3rem solid #48817D;
    -webkit-transition: left 1000ms;
    -moz-transition: left 1000ms;
    -ms-transition: left 1000ms;
    -o-transition: left 1000ms;
    transition: left 1000ms;
}

li.openSesame {
    left:0px;
}

.bikeSell{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.bikeSell img{
    width: 100%;
}

.barghest, .spectral1, .spectral2{
    border: 2px solid #653933;
    margin: 1% 2% 1% 2%;
}

.forSale h3{
    font-size: 120%;
    margin: 0;
    padding: 0 0 1% 0;
    text-align: justify;
}

.forSale a:link{ color: black}
.forSale a:visited{ color: #653933}
.forSale a:hover{ color: rgba(0,0,0,.4)}
.forSale a:active{ color: #33654C}

.forSale{
    background-image: url("../images/bike-montana2-flip-small.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


.bicycle h2{
    margin-bottom: 0;
    padding-bottom: 0;
}

.bicycle h3{
    margin-top: 0

}

.specs li{
    border-top: none;
    border-right: none;
}

.detail{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-content: flex-end;
}

.barghie img{
    width: 100%;
}

.specs{
    margin-top: 0;
    padding-top: 0;
}

/****************** Service Page **************************/
table {
    width: 80%;
 /*   background-color: #E7F0ED; */
}

table, table caption {
    box-shadow: 10px 10px 40px #653933/*#628ca6*/;
}

table caption {
    margin-top: 5%;
    border: 1px solid #653933/*#666666*/;
    background-color: #48817D;
    font-size: 170%;
    padding: .4em .5em;
}

table th{
    background-color: #346E72;
    color: white;
    font-size: 120%;
    padding: .4em;
}

table, th, td {
    border: 1px solid #653933;
    border-collapse: collapse;
    text-align: center;
    padding: .5em .5em;
    margin: auto;
    margin-bottom: 5%;
}


table tfoot {
    background-color: #48817D;
    font-size: 85%;
}

/****************** Adventure Tour Page ********************/
.trailInfo li{
    border-top: none;
    border-right: none;
}

.trailInfo{
    border: 3px groove #653933;
    margin: 2%;
}
/*
main .trailPic{
    margin: 0;
    padding: 0;
}

main .trailPic img{
    width: 100%;
} */

.trailPic h2{
    padding: 15%;
    margin: 0;
    background-image: url("../images/sourdoughTrail-small.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/****************** Main For Contact Form *************/
.map{
    margin: 1em 1em 1em 1em;
}

.map h4{
    font-size: 110%;
    text-align: left;
    margin: 0;
    padding: 0;
}

fieldset{
 /*   background-color: #C8C8C8; */
    border-radius: .8em;
    border: #653933 solid 1px;
    margin: 2%;
}

legend{
    margin-left: 6%;
    padding: .5em;
    border: #653933 solid 1px;
    background-color: #C8C8C8;
    color: #33654C;
    border-radius: .4em;
}

label{
    display: block;
    margin: .5em;
}

label span {
    display: block;
    font-size: .8em;
   /* color: #33654C; */
    padding-top: .9em;
    padding-bottom: .2em;
}

input.submitBtn {
    color: #fff;
    border: solid 1px #111;
    border-radius: 7px;
    width: 25%;
    margin: .5em 0;
    font-size: 1em;
    /*font-family: 'Bree Serif', serif; */
    padding: .6em;
    background: #653933;
    box-shadow: 4px 4px 10px #666;
}

/******************* Event Page **********************/
.cycleDivideEvent h2{
    font-size: 200%;
    padding: 0;
    padding-top: 15%;
    margin: 0;
}

.cycleDivideEvent h3{
    padding: 0;
    margin-top: 0;
    padding-bottom: 10%;
}

.cycleDivideEvent{
    background-image: url("../images/eventPage-small.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.eventInfo ul{
    margin-right: 5%;
}

.eventInfo li{
    border-top: none;
    border-right: none;
}

.eventInfo a{
    font-size: 120%;
}

.eventInfo a:link{ color: #33654C}
.eventInfo a:visited{ color: #653933}
.eventInfo a:hover{ color: rgba(0,0,0,.4)}
.eventInfo a:active{ color: #33654C}

/******************* Resources Page *******************/
.resources p{
    margin-left: 5%;
    margin-bottom: 5%;
}

/******************* Footer ***************************/
footer {
    background-color: #653933;
    text-align: center;
    padding: .5rem;
    color: white;
}

footer aside {
    font-size: 85%;
}

footer a:link{ color: #33654C}
footer a:visited{ color: white}
footer a:hover{ color: rgba(0,0,0,.4)}
footer a:active{ color: white}

footer>p {
    font-size: 70%;
    color: black;
}
